.about__section {
  font-weight: 300;
  margin-top: 5rem;
  .image__section {
    display: flex;
    img {
      width: 45rem;
      height: 30rem;
      object-fit: cover;
    }
    .about__info {
      margin-left: 2rem;
      h4 {
        font-size: 2rem;
        text-transform: uppercase;
      }
      p {
        width: 40rem;
        text-align: start;
        margin-top: 2rem;
        text-align: justify;
        font-size: 1.7rem;
      }
    }
  }
}
