@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.blog {
  margin-top: 150px;
  .blog__heading {
    margin: 0px 0px 100px 40%;
    @media (max-width: 1000px) {
      margin: 0px 0px 30px 19px;
    }
  }
  .blog__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    border: solid 1px #29335f;
    margin: 90px 0px 30px 10%;
   
    .blog__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70vh;
      width: 60vw;
      font-family: "Pattaya", sans-serif;
      font-size: 5rem;
      animation: blogscale 20s ease-in-out linear infinite;
      @media (max-width: 1000px) {
        font-size: 2.5rem;
        height: 60vh;
        width: 60vw;
      }
      @media (max-width: 500px) {
        font-size: 2rem;
        height: 50vh;
        width: 60vw;
      }
    }
  }
  @keyframes blogscale {
    from {
      transform: rotate(50deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}
