.homepage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  color: #29335f;
  &::-webkit-scrollbar {
    display: none;
  }
  .home__wrap {
    display: flex;
    margin-top: 20px;
    .home__content {
      display: flex;
      align-items: center;
      justify-content: center;
      .home__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        .send {
          margin-left: 3px;
        }
        .describe__p {
          text-align: center;
          margin-bottom: 20px;
        }
        a {
          text-decoration: none;
          color: #29335f;
          margin-bottom: 20px;
        }
        .scroll {
          display: flex;
          align-items: center;
          .mouse,
          .scroll__p,
          .arrow {
            margin-right: 8px;
          }
          .arrow {
            //   transition: all ease;
            animation: arow 1s ease infinite;
          }
        }
      }
      .home__image {
        margin-bottom: 20px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 2;
          width: 16rem;
          height: 16rem;
          background-color: rgb(0, 0, 0, 0);
          border-top: solid 5px red;
          border-radius: 50%;
          z-index: -1;
          animation: rotateb 2s infinite;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 16rem;
          height: 16rem;
          background-color: rgb(0, 0, 0, 0);
          border-top: solid 5px purple;
          border-radius: 50%;
          z-index: -1;
          animation: rotatea 2s infinite;
        }
        .image__border {
          background-color: #29335f;
          border-radius: 68% 25% 70% 50%;
          width: 15rem;
          margin-top: 30px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .home__content {
      flex-direction: column;
    }
    .home__image {
      //   margin: 4rem;
    }
    .describe__p {
      font-size: 0.9rem;
    }
  }

  @keyframes arow {
    0% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes rotatea {
    to{
      transform: rotate(360deg);
    }
  }
  @keyframes rotateb {
    to{
      transform: rotate(-360deg);
    }
  }
}
