.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  .hero {
    font-weight: 700;
    z-index: 1;
    span {
      color: #29335f;
    }
    i {
      animation: wave 1s 1s ease-in-out infinite;
      color: #29335f;
    }
    @keyframes wave {
      0% {
        transform: rotate(15deg);
      }
      50% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(-15deg);
      }
    }
  }
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform-style: preserve-3d;
    .earth {
      // position: absolute;
      bottom: 0;
      left: 0;
      width: 1900px;
      height: 1600px;
      background: url(../images/flat.jpg);
      border-radius: 50%;
      margin: 0em 25em -60em 0;
    }
  }
}
