.App {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  color: rgb(255, 255, 255);
  .home__wrap{
    display: flex;
    // align-items: center;
    width: 100%;
    .sidebarw {
      // height: 100%;
      // width: 18%;
      // background-color: rgb(24, 14, 49);
      // z-index: 10;
      // border-right: 1px solid #2e344e;
    }
    .main__body {
      height: 100vh;
      width: 82%;
      overflow: hidden;
      background-image: url("../images/cosmos.jpg");
      background-size: cover;
      animation: main 5s ease-in-out infinite;
  
      // .fade {
      //   height: 100vh;
      //   width: 3%;
      //   background: linear-gradient(
      //     to left,
      //     transparent,
      //     rgb(24, 14, 49),
      //     rgb(24, 14, 49)
      //   );
      // }
    }
    @keyframes main {
      0% {
        background-color: rgb(104, 103, 103);
      }
      25% {
        background-color: rgb(151, 151, 206);
      }
      50% {
        background-color: rgb(86, 86, 173);
      }
      75% {
        background-color: rgb(8, 8, 85);
      }
      100% {
        background-color: rgb(104, 103, 103);
      }
    }
  }
  
}
