.portfolio {
  margin-top: 100px;
  @media (max-width: 1000px) {
    margin-top: 50px;
  }
  .portfolio__heading {
    margin: 0px 0px 100px 40%;
    @media (max-width: 1000px) {
      margin: 0px 0px 30px 20px;
    }
  }
  .image__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 100px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    .text__portion {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 6%;

      @media (max-width: 1200px) {
        font-size: 1.2rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.1rem;
        margin-right: 0%;
      }
      @media (max-width: 500px) {
        font-size: 1rem;
        margin: 50px 0px 0px 0px;
      }
      .slide__button {
        background-color: #29335f;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        width: 75%;
        margin-top: 15px;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          background-color: #180f2e;
        }
        @media (max-width: 1000px) {
          font-size: 1rem;
        }
      }
    }
    .slide__image {
      position: relative;
      // object-fit: contain;
      border-radius: 15px;
      margin-left: 15%;
      object-fit: cover;
      height: 35vh;
      width: 35vw;
      @media (max-width: 1200px) {
        margin-left: 0%;
      }
      @media (max-width: 1000px) {
        margin-left: 0%;
        border-radius: 8px;
        height: 40vh;
        width: 40vw;
      }
      @media (max-width: 565px) {
        height: 35vh;
        width: 80vw;
      }
      @media (max-width: 385px) {
        height: 28vh;
        width: 79vw;
      }
    }
    .image__hover {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 35vh;
      width: 35vw;
      position: absolute;
      margin-left: 0%;
      border-radius: 15px;
      background-color: rgb(41, 51, 95, 0.6);
      color: white;
      opacity: 0;
      top: 0;
      left: 0;
      text-align: center;
      display: none;
      p {
        font-size: 1.2rem;
      }
      .view__project {
        background-color: rgb(255, 255, 255, 0.9);
        color: #29335f;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #29335f;
        }
      }
      @media (max-width: 1000px) {
        margin-left: 0%;
        border-radius: 1px;
        height: 55vh;
        width: 80vw;
      }

      @media (max-width: 565px) {
        border-radius: 1px;
        height: 35vh;
        width: 80vw;
      }
      @media (max-width: 385px) {
        height: 28vh;
        width: 79vw;
      }
      transition: all 1s 1s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .appear {
    opacity: 0;
    &.show {
      animation: appear 1s ease forwards;
    }
  }
  .shift__up {
    transform: translateY(65px);
    &.show {
      animation: up 1s forwards ease-in-out;
    }
  }
  .shift__left {
    transform: translateX(-25px);
    &.show {
      animation: left 1s forwards ease-in-out;
    }
  }
  .shift__right {
    transform: translateX(25px);
    &.show {
      animation: right 1s forwards ease-in-out;
    }
  }
}
.swiper-container {
  margin-top: 100px;
  width: 80%;
  border-radius: 7px;
  @media (max-width: 1000px) {
    width: 100%;
  }
  .swiper-button-prev {
    color: #29335f;
    @media (max-width: 1000px) {
      color: rgb(41, 51, 95, 0.5);
    }
  }
  .swiper-button-next {
    color: #29335f;
    @media (max-width: 1000px) {
      color: rgb(41, 51, 95, 0.5);
    }
  }
  .swiper-pagination {
    margin-bottom: 25%;
    @media (max-width: 925px) {
      margin-bottom: 30%;
    }
    @media (max-width: 745px) {
      display: none;
    }
    @media (max-width: 440px) {
      display: block;
      margin-top: 95%;
    }
    .swiper-pagination-bullet {
      color: #29335f;
    }
  }
}
