.slide {
  overflow: hidden;
  .slide__wrapper {
    height: 120px;
    margin: auto;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    // place-items: center;
    // background-color: blue;
    &::before {
      background: linear-gradient(
        to right,
        rgb(255, 255, 255, 1) 0%,
        rgb(255, 255, 255, 0) 100%
      );
      content: "";
      height: 200px;
      position: absolute;
      width: 10%;
      z-index: 12;
      top: 0;
      left: 0;
    }
    &::after {
      background: linear-gradient(
        to left,
        rgb(255, 255, 255, 1) 0%,
        rgb(255, 255, 255, 0) 100%
      );
      content: "";
      height: 200px;
      position: absolute;
      width: 10%;
      z-index: 12;
      top: 0;
      right: 0;
    }
    .block {
      width: 10rem;
      height: 120px;
      background-color: blue;
    }
    .block__two {
      width: 10%;
      height: 120px;
    }
    .slide__track {
      display: flex;
      justify-content: center;
      width: 80%;
      margin-left: 1600px;
      animation: slide_scroll 10s linear infinite;
      //   background-color: black;
      place-items: center;
      .slide__languages {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        padding: 15px;
      }
    }
  }
  @keyframes slide_scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-815px * 4));
    }
  }
}
