.slide {
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 1.8rem;
    @media (max-width: 990px) {
      font-size: 1.7rem;
    }
    @media (max-width: 690px) {
      font-size: 1.4rem;
    }
    @media (max-width: 690px) {
      font-size: 1.1rem;
    }
  }
  .slide__wrapper {
    height: 120px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 885px) {
      // margin-top: -50px;
    }
    .block {
      width: 10rem;
      height: 12rem;
      background-color: blue;
      z-index: 3;
    }
    .block__two {
      width: 10rem;
      height: 12rem;
      background-color: blueviolet;
    }
    &::before {
      background: linear-gradient(
        to left,
        transparent,
        rgb(255, 255, 255, 1),
        rgb(255, 255, 255, 1)
      );
      content: "";
      height: 200px;
      position: absolute;
      width: 35%;
      z-index: 12;
      top: 0;
      left: 0;
      @media (max-width: 400px) {
        width: 20%;
      }
    }
    &::after {
      background: linear-gradient(
        to right,
        transparent,
        rgb(255, 255, 255, 1),
        rgb(255, 255, 255, 1)
      );
      content: "";
      height: 200px;
      position: absolute;
      width: 35%;
      z-index: 12;
      top: 0;
      right: 0;
      @media (max-width: 400px) {
        width: 20%;
      }
    }

    .slide__track {
      display: flex;
      justify-content: center;
      width: 80%;
      margin-left: 1600px;
      animation: slide_scroll 20s linear infinite;
      //   background-color: black;
      place-items: center;
      .slide__languages {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        padding: 15px;
      }
    }
  }
  @keyframes slide_scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-740px * 4));
    }
  }
}
