.slide {
  overflow: hidden;
  .slide__title {
    display: flex;
    align-items: center;
    .toolbox {
      font-size: 2.5rem;
      color: #29335f;
      margin-left: 32%;
    }
    h2 {
      // text-align: center;
      margin: 0px 0px 50px 14.9%;
      @media (max-width: 1200px) {
        margin: 0px 0px 10px 12%;
      }
      font-size: 1.8rem;
      font-weight: 400;
      @media (max-width: 990px) {
        font-size: 1.7rem;
      }
      @media (max-width: 690px) {
        font-size: 1.4rem;
      }
      @media (max-width: 690px) {
        font-size: 1.1rem;
      }
    }
  }
  .slide__wrapper {
    height: 120px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;

    @media (max-width: 575px) {
      // margin-top: -50px;
      border-bottom: solid 1px rgb(41, 51, 95, 0.08);
    }
    &::before {
      background: linear-gradient(
        to left,
        transparent,
        rgb(255, 255, 255, 1),
        rgb(255, 255, 255, 1)
      );
      content: "";
      height: 200px;
      position: absolute;
      width: 35%;
      z-index: 1;
      top: 0;
      left: 0;
      @media (max-width: 400px) {
        width: 20%;
      }
    }
    &::after {
      background: linear-gradient(
        to right,
        transparent,
        rgb(255, 255, 255, 1),
        rgb(255, 255, 255, 1)
      );
      content: "";
      height: 200px;
      position: absolute;
      width: 35%;
      z-index: 0;
      top: 0;
      right: 0;
      @media (max-width: 400px) {
        width: 20%;
      }
    }

    .slide__track {
      display: flex;
      justify-content: center;
      width: 80%;
      margin-left: 1600px;
      animation: slide_scroll 20s linear infinite;
      place-items: center;
      .slide__languages {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        padding: 15px;
      }
    }
  }
  @keyframes slide_scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-740px * 4));
    }
  }
}
.slidedark {
  overflow: hidden;
  .slide__title {
    display: flex;
    align-items: center;
    .toolbox {
      font-size: 2.5rem;
      color: #29335f;
      margin-left: 32%;
    }
    h2 {
      // text-align: center;
      margin: 0px 0px 50px 14.9%;
      @media (max-width: 1200px) {
        margin: 0px 0px 10px 12%;
      }
      font-size: 1.8rem;
      font-weight: 400;
      @media (max-width: 990px) {
        font-size: 1.7rem;
      }
      @media (max-width: 690px) {
        font-size: 1.4rem;
      }
      @media (max-width: 690px) {
        font-size: 1.1rem;
      }
    }
  }
  .slide__wrapper {
    height: 120px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    @media (max-width: 575px) {
      // margin-top: -50px;
      border-bottom: solid 1px rgb(41, 51, 95, 0.08);
    }
    &::before {
      background: linear-gradient(to left, transparent, #090a11, #090a11);
      content: "";
      height: 200px;
      position: absolute;
      width: 35%;
      z-index: 1;
      top: 0;
      left: 0;
      @media (max-width: 400px) {
        width: 20%;
      }
    }
    &::after {
      background: linear-gradient(to right, transparent, #090a11, #090a11);
      content: "";
      height: 200px;
      position: absolute;
      width: 35%;
      z-index: 0;
      top: 0;
      right: 0;
      @media (max-width: 400px) {
        width: 20%;
      }
    }

    .slide__track {
      display: flex;
      justify-content: center;
      width: 80%;
      margin-left: 1600px;
      animation: slide_scroll 20s linear infinite;
      place-items: center;
      .slide__languages {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        padding: 15px;
      }
    }
  }
  .appear {
    opacity: 0;
    &.show {
      animation: appear 1s ease forwards;
    }
  }
  @keyframes slide_scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-740px * 4));
    }
  }
}
