@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./styles/homepage";
@import "./styles/about";
@import "./styles/skills";
@import "./styles/title";
@import "./styles/navbottom";
@import "./styles/navtoptitle";
@import "./styles/navTop";
@import "./styles/canvastext";
@import "./styles/slide";
@import "./styles/icon";
@import "./styles/background";
@import "./styles/portfolio";
@import "./styles/blog";
@import "./styles/contact";
@import "./styles/footer";

$base-color: #3f4e91;
$hover-color: #4f5fa8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  $base-color: #3f4e91;
  $hover-color: #4f5fa8;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  color: $base-color;
  overflow-x: hidden;
}
@keyframes anim1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim2 {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes anim3 {
  0% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}