@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./styles/homepage";
@import "./styles/about";
@import "./styles/skills";
@import "./styles/title";
@import "./styles/navbottom";
@import "./styles/navtoptitle";
@import "./styles/navTop";
@import "./styles/canvastext";
@import "./styles/slide";
@import "./styles/icon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  color: #29335f;
  scroll-behavior: smooth;
  // background-color: #090a11;
}
span {
  // color: #29335f;
  // hover: #3f4e91
}
// background-color: #180f2e;
// color: #29335f
